USE [master]
GO
/****** Object:  Database [TestSystem]    Script Date: 22.08.2023 18:08:24 ******/
CREATE DATABASE [TestSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TestSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestSystem]
GO
/****** Object:  Table [dbo].[AnswerType]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnswerType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_AnswerType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CompletedTests]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CompletedTests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TestCompID] [int] NOT NULL,
	[UserCompID] [int] NOT NULL,
	[Result] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CompletedTests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AnswerTypeID] [int] NOT NULL,
	[QuestionText] [nchar](100) NOT NULL,
	[AllAnswers] [nchar](1000) NULL,
	[AnswerLine] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Question] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QustionsLine] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Questions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionsID] [int] NOT NULL,
	[TestName] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Tests] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.08.2023 18:08:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nchar](50) NOT NULL,
	[Password] [nchar](50) NOT NULL,
	[Name] [nchar](50) NOT NULL,
	[Surname] [nchar](50) NOT NULL,
	[isTeacher] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AnswerType] ON 

INSERT [dbo].[AnswerType] ([ID], [AType]) VALUES (1, N'StringA   ')
INSERT [dbo].[AnswerType] ([ID], [AType]) VALUES (2, N'OneA      ')
INSERT [dbo].[AnswerType] ([ID], [AType]) VALUES (3, N'SomeA     ')
SET IDENTITY_INSERT [dbo].[AnswerType] OFF
GO
SET IDENTITY_INSERT [dbo].[CompletedTests] ON 

INSERT [dbo].[CompletedTests] ([ID], [TestCompID], [UserCompID], [Result]) VALUES (2, 4, 1, N'0 / 1     ')
INSERT [dbo].[CompletedTests] ([ID], [TestCompID], [UserCompID], [Result]) VALUES (3, 7, 1, N'0 / 2     ')
INSERT [dbo].[CompletedTests] ([ID], [TestCompID], [UserCompID], [Result]) VALUES (4, 1, 1, N'0 / 4     ')
SET IDENTITY_INSERT [dbo].[CompletedTests] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([ID], [AnswerTypeID], [QuestionText], [AllAnswers], [AnswerLine]) VALUES (1, 1, N'Столица Росии?                                                                                      ', NULL, N'Москва                                            ')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([ID], [QustionsLine]) VALUES (1, N'1;;4;;5;;7                    ')
INSERT [dbo].[Questions] ([ID], [QustionsLine]) VALUES (2, N'1                             ')
INSERT [dbo].[Questions] ([ID], [QustionsLine]) VALUES (3, N'1;;4                          ')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([ID], [QuestionsID], [TestName]) VALUES (1, 1, N'TestTest                                          ')
INSERT [dbo].[Tests] ([ID], [QuestionsID], [TestName]) VALUES (2, 1, N'TestTest1                                         ')
INSERT [dbo].[Tests] ([ID], [QuestionsID], [TestName]) VALUES (3, 1, N'TestTest2                                         ')
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [Name], [Surname], [isTeacher]) VALUES (1, N'A                                                 ', N'A                                                 ', N'A                                                 ', N'A                                                 ', 1)
INSERT [dbo].[Users] ([ID], [Login], [Password], [Name], [Surname], [isTeacher]) VALUES (2, N'B                                                 ', N'A                                                 ', N'A                                                 ', N'A                                                 ', 0)
INSERT [dbo].[Users] ([ID], [Login], [Password], [Name], [Surname], [isTeacher]) VALUES (3, N'Andr                                              ', N'123                                               ', N'Андрей                                            ', N'Самойлов                                          ', 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_isTeacher]  DEFAULT ((0)) FOR [isTeacher]
GO
ALTER TABLE [dbo].[CompletedTests]  WITH CHECK ADD  CONSTRAINT [FK_CompletedTests_Tests] FOREIGN KEY([TestCompID])
REFERENCES [dbo].[Tests] ([ID])
GO
ALTER TABLE [dbo].[CompletedTests] CHECK CONSTRAINT [FK_CompletedTests_Tests]
GO
ALTER TABLE [dbo].[CompletedTests]  WITH CHECK ADD  CONSTRAINT [FK_CompletedTests_Users] FOREIGN KEY([UserCompID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[CompletedTests] CHECK CONSTRAINT [FK_CompletedTests_Users]
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD  CONSTRAINT [FK_Questions_AnswerType] FOREIGN KEY([AnswerTypeID])
REFERENCES [dbo].[AnswerType] ([ID])
GO
ALTER TABLE [dbo].[Question] CHECK CONSTRAINT [FK_Questions_AnswerType]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Questions] FOREIGN KEY([QuestionsID])
REFERENCES [dbo].[Questions] ([ID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Questions]
GO
USE [master]
GO
